body {
    background: linear-gradient(to top, #560019, #000000 );
    color: white;
}

.home-page {
    height: 100vh;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: initial;
}

.listMovie {
    display: flex;
}

button {
    cursor: pointer;
}


/******Page Info sur le Films******/
.info-movie {
    height: 100vh;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.headMovie {
    display :flex;
    align-items: baseline;
}

.date {
    margin-left: 10px;
}

.listActor {
    display: flex;
    overflow-x: scroll;
}
