body {
    background: linear-gradient(to top, #560019, #000000 );
    color: white;
    font-family: 'Roboto', sans-serif;
}

.home-page {
    height: 100vh;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: initial;
}

.listMovie {
    display: flex;
}

button {
    cursor: pointer;
}


/******Page Info sur le Films******/
.info-movie {
    height: 100vh;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.headMovie {
    display :flex;
    align-items: baseline;
}

.date {
    margin-left: 10px;
}

.listActor {
    display: flex;
    overflow-x: scroll;
}

.listMovie {
    display: flex;
}

button {
    cursor: pointer;
}

/*#cadres-neon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 550px;
}*/

.cadre {
	position: absolute;
  	width: 480px;
  	box-shadow: 
  	height: 300px;
		inset 0 0 3px 1px #fff, 
		inset 0 0 7px 5px #ff0000,
		0 0 7px 5px #ff0000;
		0 0 3px 1px #fff, 
}